<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/all.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="/assets/scripts/cadastroCliente.js"></script>

  <title>Cadastro</title>
</head>

<body>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Teste</h5>
      <span class="text-muted">testetetet</span>
    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <section class="gradient-form" style="background-color: #fff;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-6 card border-0">
          <div class="card-body cardCadastro">
            <h1 class="card-title text-center">Criar nova conta :)</h1>
            <p class="text-center"><a href="login.html" class="link-dark linkLogin">Ou faça o Login aqui</a></p>

            <form id="registroForm" method="POST">
              <div class="row d-flex flex-column align-items-center">
                <div class="col-3 inputsCadastro">
                  <label for="nomeCadastro">Nome</label>
                  <input type="text" name="nomeCadastro">
                </div>
                <div class="col-3 inputsCadastro">
                  <label for="emailCadastro">Email</label>
                  <input type="email" name="emailCadastro">
                </div>
                <div class="col-3 inputsCadastro">
                  <label for="SenhaCadastro">Senha</label>
                  <input type="password" name="senhaCadastro">
                </div>

                <div class="col-3 inputsCadastro">
                  <label for="ConfirmSenhaCadastro">Confirme sua senha</label>
                  <input type="password" name="confirmSenhaCadastro">
                </div>

                <button type="submit" class="btn btn-dark mt-4 col-5" id="btn-cadastro">Registrar</button>


            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>