<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/all.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <title>Bem vindo</title>

  
</head>
<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Teste</h5>
      <span class="text-muted">testetetet</span>
    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <section class="h-100 gradient-form" style="background-color: #fff;">
    <div class="container h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">

          <div class="card rounded-3">
              
            <div class="row g-0">
              
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <h1>Faça seu login aqui!!</h1>

                  <p>Aqui costura-se sonhos, Prega-se ternura, Remenda-se carinho,  Tecemos alegria e Fabricamos amor!</p>

                  <button type="submit" class="btn btn-dark mt-4 col-5" id="btn-cadastro">Registrar</button>
                  <button type="submit" class="btn btn-dark mt-4 col-5" id="btn-cadastro">Registrar</button>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <img id="imgLogin" class="imgLogin" src="/assets/images/imgLogin.jpg" alt="">
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </div>

    </div>
  </section>
</body>
</html>