<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../public/assets/css/all.css">
  <script src="../public/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <script src="/assets/scripts/loginCliente.js"></script>

  <title>Bem vindo</title>
</head>

<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <div class="conteiner-fluid text-center">
        <div class="row d-flex justify-content-center"> <!-- Adicionado justify-content-center -->
          <div class="col-4">
           <p class="titleMenus">Cadastrar</p>
            <ul>
              <li>Cliente</li>
              <li>Pedidos</li>
            </ul>
          </div>

          <div class="col-4 ">
            <p class="titleMenus">Movimentação<p>
            <ul>
              <li>Pedidos Emitidos</li>
              <li>Manutenção Pedidos</li>
              <li>Manutenção Cliente</li>
            </ul>
          </div>

          <div class="col">
            <p class="titleMenus">Ajuda</p>
            <ul>
                <li>Sobre nós</li>
                <li>Whatsapp</li>
            </ul>
        </div>
        </div>
      </div>

    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <img src="../public/assets/images/ImgLogoHome.png" class="logoHomeLog">
  <img src="../public/assets/images/ImgLoginCostuUm.jpg" class="imgLoginCostuUm">
  <section class="sectionLogin">
    <div class="card w-50 card-login">
      <div class="card-body cardlogin">
        <h5 class="card-title text-center titleLogin">LOGIN USUARIO</h5>

        <form action="">
          <div class="row d-flex flex-column align-items-center">
            <div class="col-3 inputsCadastro">
              <label for="nomeCadastro">Nome</label>
              <input type="text" name="nomeCadastro">
            </div>
    
            <div class="col-3 inputsCadastro">
              <label for="SenhaCadastro">Senha</label>
              <input type="password" name="senhaCadastro">
            </div>

          </div>

          <div class="btns-Login">
            <button type="submit" class="btn btn-dark col-3 btnCliLog" id="btn-Cliente">Cliente</button>
            <button type="submit" class="btn btn-dark col-3 btnCliLog" id="btn-Costureira">Costureira</button>
          </div>

        <h3 class="text-center esqueceuSenhaLogin">Esqueceu a senha</h3>
        </form>

     
      </div>
    </div>

    <img src="../public/assets/images/ImgLoginCostuDois.jpg" class="imgLoginDois" alt="">
  </section>
</body>

</html>