<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/manutencaoPedido.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <script src="/assets/plugins/node_modules/sweetalert2/dist/sweetalert2.js"></script>
  <script src="/assets/scripts/pedidoManutencao.js"></script>

  <title>Cadastro Pedido</title>
</head>

<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div id="dynamicMenu" class="bg-dark p-4">
      <!-- O menu dinâmico será inserido aqui -->
    </div>
  </div>

  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <img src="../assets/images/ImgLogoHome.png" class="logoHome">
  <section class="" style="background-color: #fff;">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h1 class="text-center titlePedido"> <img src="../assets/images/imgManutencaoPedido.png"
            class="ImgPedidos">Manutencao Pedidos</h1>
        <div class="col-md-6 card border-0 ladoesquerdo">
          <form id="registroForm" method="POST">
            <div class="card-body cardManuPedido">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="numPedido" class="labelNum">N° PEDIDOS</label>
                    <input type="text" name="numPedido" id="numPedido" class="inputnumPedido">
                  </div>
                </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-dark col-9 btnExecutar" id="btn-executar">Executar</button>
                </div>
              </div>

              <div class="row">

                <button type="disable" class="btn btn-dark col-3 btnStatus" id="btn-status">Status :</button>
                <label for="status">Status:</label>
                <select id="status">
                  <option value="aberto">Aberto</option>
                  <option value="em produção">Em Produção</option>
                  <option value="finalizado">Finalizado</option>
                </select>
                <div class="row btns">
                  <div class="col-6">
                    <button type="submit" class="btn btn-dark col-9 btnCalAtt" id="btn-excluir">Excluir</button>
                  </div>
                  <div class="col-6">
                    <button type="submit" class="btn btn-dark col-9 btnCalAtt" id="btn-atualizar">Atualizar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6 ladoDireito">
          <div class="row">
            <label for="manuPedidoNome" class="labels nome" readonly>Nome</label>
            <input type="text" name="manuPedidoNome" class="inputsManuPedido" id="manuPedidoNome" readonly>
            <label for="manuPedidoQtd" class="labels">Quantidade</label>
            <input type="number" name="manuPedidoQtd" class="inputsManuPedido" id="manuPedidoQtd">
            <label for="manuPedidoFormPagamento" class="labels">Forma de pagamento</label>
            <input type="text" name="manuPedidoFormPagamento" class="inputsManuPedido" id="manuPedidoFormPagamento">
            <label for="manuPedidoValor" class="labels">Valor</label>
            <input type="text" name="manuPedidoValor" class="inputsManuPedido" id="manuPedidoValor">
            <label for="manuPedidoValorTotal" class="labels">Valor total</label>
            <input type="text" name="manuPedidoValorTotal" class="inputsManuPedido" id="manuPedidoValorTotal">
          </div>
        </div>

      </div>
    </div>
  </section>
  <script src="/assets/scripts/global.js"></script>
</body>

</html>