<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/pedidosEmitidos.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <script src="/assets/scripts/emetidoPedido.js"></script>
  <title>Pedidos do Cliente</title>



</head>

<body>
  <div class="collapse" id="navbarToggleExternalContent">
    <div id="dynamicMenu" class="bg-dark p-4">
      <!-- O menu dinâmico será inserido aqui -->
    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <img src="../assets/images/ImgLogoHome.png" class="logoHome">
  <section>
    <img src="../assets/images/emitirPedido01.png" class="imgEmitidoUm">
    <div class="container h-100">
      <div class="card mx-auto w-75 cardBemVi">
        <div class="card-body">
          <h1 class="text-center titleEmitidos">Pedidos do Cliente</h1>
          <div class="row">
            <div class="col-12">
              <div class="table-container">
                <table class="table">
                  <thead>
                    <tr>
                      <th>N° Pedido</th>
                      <th>Cliente</th>
                      <th>Status</th>
                      <th>Data</th>
                    </tr>
                  </thead>
                  <tbody id="pedidoTabelaCliente"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <img src="../assets/images/emitirPedido02.png" class="imgEmitidoDois">
  <script src="/assets/scripts/global.js"></script>
</body>

</html>