<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/sobre.css">
  <script src="/assets/plugins/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/plugins/node_modules/jquery/dist/jquery.js"></script>
  <script src="/assets/plugins/node_modules/jquery-ui/dist/jquery-ui.js"></script>
  <title>Bem vindo</title>


</head>

<body>

  <div class="collapse" id="navbarToggleExternalContent">
    <div id="dynamicMenu" class="bg-dark p-4">
      <!-- O menu dinâmico será inserido aqui -->
    </div>
  </div>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <img src="../assets/images/ImgLogoHome.png" class="logoHome">

  <section>
    <div class="containerSobre h-100">
      <div class="card w-100 cardSobre">
        <div class="card-body">
          <p class="card-text textSobre">Sobre nós: Em um bairro histórico, costureiras de idade avançada se reúnem em seus estúdios para costurar com habilidade e sabedoria acumulada ao longo dos anos. Além de concertar roupas, elas compartilham histórias e tradições, inspirando as gerações mais jovens com sua experiência e conhecimento.</p>
        </div>
      </div>
    </div>
  </section>

  <img src="../assets/images/imgPgSobre.png" class="imgSobrenos" alt="">

  <a href="https://wa.link/jf45be">
    <img src="/assets/images/imgZapHome.png" class="imgZap"> 
  </a>

  <h4 class="txtZap">WhatsApp</h4>
</body>
<script src="/assets/scripts/global.js"></script>
</html>